<ul class="nav justify-content-center bg-black">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#"><h5>Active</h5></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/add-employee']"><h5>Add Employee</h5></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/view-employee']"><h5>View Employee</h5></a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#" tabindex="-1" aria-disabled="true"><h5>Disabled</h5></a>
  </li>
</ul>